.aside {
    min-height: 100vh;
    min-width: 250px;
    width: 40%;
    color: $clr-dark-gray;
    font-size: $size-80;
    background: url("./../assets/images/background-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    p {
        margin-bottom: $size-100;

        a {
            color: $clr-dark-gray;
            text-decoration: none;

            &:hover,
            &:focus-visible {
                color: $clr-gray;
                text-decoration: underline;
            }
        }
    }

}

.logo {
    color: #FFF;
    margin-top: $size-500;
    font-size: $size-300;
    font-family: $ff-nexus;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100px;
        padding-block: $size-100;
    }
}