$ff-nexus: 'Nexus', sans-sarif;

$clr-gray: hsl(0, 0%, 10%);
$clr-dark-gray: hsl(0, 0%, 5%);
$clr-light-gray: hsl(0, 0%, 60%);
$clr-primary: hsl(33, 77%, 54%);
$clr-light-primary: hsl(33, 77%, 70%);
$clr-blue: hsl(240, 95%, 61%);


$size-50: 0.5rem;
$size-80: 0.8rem;
$size-100: 1rem;
$size-200: 2rem;
$size-300: 4rem;
$size-400: 6rem;
$size-500: 10rem;