@import 'variables',
'css_reset',
'aside',
'main',
'form';

@font-face {
    font-family: 'Nexus';
    src: url(/assets/font/norse-bold-webfont.woff2) format('woff2'),
        url(/assets/font/norse-bold-webfont.woff) format('woff');
}

.container {
    color: $clr-gray;
    display: flex;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 50rem) {
    .container{
        flex-direction: column;
    }

    .aside{
        width: 100%;
        min-height: 250px;
    }

    .logo{
        margin-top: 5rem;
    }

    input{
        width: 70vw;
    }

    .form-content{
        text-align: center;
    }
}