@import 'variables',
'css_reset',
'aside',
'main',
'form';

@font-face {
    font-family: 'Nexus';
    src: url(/assets/font/norse-bold-webfont.woff2) format('woff2'),
        url(/assets/font/norse-bold-webfont.woff) format('woff');
}

.container {
    display: flex;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

